.ui-button
  padding:      6px 12px !important
  margin-right: -1px !important

  .ui-button-text
    padding:  2px 0 2px !important

.ui-dialog
  top:    30px !important
  width:  600px !important
  border: none !important

  input[type=checkbox]
    margin-right: 10px !important

  .ui-dialog-titlebar
    height:               56px !important
    padding:              15px !important
    text-transform:       uppercase
    font-size:            18px
    background-image:     url('/exmatrikulator/javax.faces.resource/el_toro_light.svg.xhtml?ln=images')
    background-size:      24px 24px
    background-repeat:    no-repeat
    background-position:  15px

  .ui-dialog-title
    margin:   2px 0 0 35px!important

  .modal-body,
  .form-group
    overflow: auto

  .form-group
    margin-left:  -15px
    margin-right: -15px
    
  .ui-dialog-content
    padding: 0 !important

  a
    &.btn-success,
    &.btn-danger,
    &.btn-warning,
    &.btn-primary
      color:  #fff !important

  .checkbox
    &:first-of-type
      margin-top: 0 !important

    input[type=checkbox]
      margin-left:  0 !important