.modal
  display:    block
  overflow-x: hidden
  overflow-y: hidden

  .modal-brand
    height:         24px
    margin-right:   10px
    vertical-align: -5px

  .modal-title
    text-transform: uppercase
    font-weight:    bold

  .alert
    margin-bottom:  10px

  .modal-header
    background-color: $modal-header-bg

  .close
    color:            $modal-close-color
    background-color: $modal-close-bg
    line-height:      28px

  .form-group
    input
      margin-right: 10px