.ui-button,
.ui-widget
  &.btn-primary
    background-color: $primary-bg !important
    border-color:     $primary-border !important
    color:            $primary-color !important

  &.btn-danger
    background-color: $danger-bg !important
    border-color:     $danger-border !important
    color:            $danger-color !important

.ui-panel
  .ui-panel-content
    padding: 0 !important

.ui-messages-fatal,
.ui-message-fatal,
.ui-messages-info,
.ui-message-info,
.ui-messages-warn,
.ui-message-warn,
.ui-messages-error,
.ui-message-error
  border-radius:  0 !important
  padding:        15px !important
  margin:         0 0 10px !important

  .ui-messages-fatal-icon,
  .ui-messages-info-icon,
  .ui-messages-warn-icon,
  .ui-messages-error-icon
    display:  none

.ui-messages ul
  margin: 0 !important

table
  th
    background-color: #25323A !important
    color: #43cc9e !important
    vertical-align: top !important
    padding: 10px !important

    input
      background-color: #25323A !important
      color: #fff !important
      margin-top: 5px !important
      font-size: 0.8em !important
      width: 75% !important
