.ui-button
  &.btn-primary
    background-color: $primary-bg !important
    border-color:     $primary-border !important
    color:            $primary-color !important

  &.btn-danger
    background-color: $danger-bg !important
    border-color:     $danger-border !important
    color:            $danger-color !important