$body-background:                 #25323a
$header-height:                   50px

$nav-logo-width:                  28px
$nav-logo-height:                 28px

$search-width:                    350px
$search-input-width:              312px

$icon-loading-size:               50px

$login-provider-width:            150px
$login-provider-height:           150px

$calendar-hour-height:            180px

$calendar-meeting-font-size:      12px
$calendar-meeting-label-size:     14px

$button-export-font-size:         40px
$help-show-font-size:             12px
$help-font-size:                  12px

$header-breadcrumb-font-size:     16px

$nav-course-number-font-size:     11px
$nav-system-links-font-size:      13px

$footer-font-size:                12px

$calculation-formula-font-size:   16px
$calculation-formula-font-family: 'Roboto Mono', monospace

$settings-eyecatcher-font-size:   80px

$table-sub-font-size:             12px