<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Properties>
        <Property name="log4j2.disable.jmx">true</Property>
        <Property name="logPath">target/log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{1}:%L - %m%n" />
        </Console>

        <RollingFile name="RollingFile" filename="${logPath}/exmatrikulatorHibernate.log"
                     filepattern="${logPath}/%d{yyyyMMddHHmmss}-exmatrikulatorHibernate.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{1}:%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate" additivity="false">
            <level value="trace" />
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>