<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">

    <!-- Defining the exmatrikulator persistence unit for the webapp -->
    <persistence-unit name="exmatrikulator-pu" transaction-type="JTA">

        <!-- Hibernate works as JPA Provider -->
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <!-- JTA Datasource -->
        <jta-data-source>java:app/jdbc/exmatrikulator</jta-data-source>

        <!-- All classes which should be mapped must be declared here -->
        <class>de.unibremen.opensores.model.User</class>
        <class>de.unibremen.opensores.model.Course</class>
        <class>de.unibremen.opensores.model.Student</class>
        <class>de.unibremen.opensores.model.Tutorial</class>
        <class>de.unibremen.opensores.model.Lecturer</class>

        <!-- Properties of the persistence unit -->
        <properties>
            <!-- https://hibernate.atlassian.net/browse/HHH-9106 -->
            <property name="hibernate.event.merge.entity_copy_observer" value="allow" />

            <!-- Settings for the JTA Transaction-->
            <property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.SunOneJtaPlatform" />
            <property name="hibernate.default_schema" value="exmatrikulator" />
            <property name="hibernate.classloading.use_current_tccl_as_parent" value="false" />

            <!-- SQL Dialect for Derby -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.DerbyTenSevenDialect"/>

            <!-- Printing SQL statements in the terminal, true for development -->
            <property name="hibernate.show_sql" value="false" />

            <!-- Formatting the SQL Statements, truein development -->
            <property name="hibernate.format_sql" value="false" />

            <!-- Drops the Database schema and recreates it every deployment, true for development -->
            <property name="hibernate.hbm2ddl.auto" value="create-drop" />

            <!-- Loads a database initialisation script for populating the database with data for development -->
            <!-- TODO Add database prepoulation script when the data model is advanced enough-->
            <!-- <property name="hibernate.hbm2ddl.import_files" value="/import.sql" /> -->

            <!-- Multiply lines can be used for the initialsation script with this class -->
            <property name="hibernate.hbm2ddl.import_files_sql_extractor" value="org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor" />

            <!-- Statistics generation with hibernate, false for development -->
            <property name="hibernate.generate_statistics" value="false" />

            <!-- Lazy loading enabled after transaction closed -->
            <property name="hibernate.enable_lazy_load_no_trans" value="true" />
        </properties>
    </persistence-unit>
</persistence>
